/* --------------------------- *\
PLANO
\* --------------------------- */

.plano {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 100px;
  font-size: 0.875rem;
  position: relative;
}

.plano--mais-popular::after {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #c20303;
  color: #fff;
  content: "MAIS POPULAR";
  padding: 0 10px;
  border-radius: 10px;
  font-size: 0.7142em;
  line-height: 2.5;
}

.plano__cabecalho {
  background-color: #ff6e27;
  color: white;
  text-align: center;
  line-height: 2.5;
  margin: 0;
  margin: -10px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 2em;
}

.plano__preco {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}

.plano__caracteristicas {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 1em;
}

.plano__caracteristicas li {
  text-align: center;
}

/* --------------------------- *\
  BOTÃO
\* --------------------------- */

.plano--botao, .botao--login {
  display: inline-block;
  background-color: #127d00;
  line-height: normal;
  color: white;
  padding: 12px 16px;
  transition: 0.3s;
  border-radius: 5px;
}

.plano--botao:hover {
  text-decoration: none;
  border-radius: 3px;
  transform: scale(1.1);
  background-color: #076461;
  color: white;
}

.plano__rodape {
  text-align: center;
}

.botao--principal {
  background-color: #ff6e27;
  color: white;
}

.botao--principal:hover {
  text-decoration: none;
  
}

/* --------------------------- *\
  CHAMADA
\* --------------------------- */

.chamada {
  font-size: 1.6rem;
  text-align: center;
}

.chamada__titulo {
  margin: 0;
  color: #fff;
  font-size: 3.375em;
  line-height: 0.9;
  text-shadow: 2px 1px #313131;
}

.chamada__subtitulo {
  margin: 60px 0;
  color: #fff;
  font-size: 1em;
}

.chamada__acao {
  font-size: 1em;
}

@media (min-width: 992px) {
  .chamada {
    padding-left: 10%;
    padding-right: 10%;

    font-size: 2.2em;
  }
}

/* --------------------------- *\
  DEPOIMENTO
\* --------------------------- */

@media (min-width: 992px) {
  .depoimento {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 2.8rem;
  }
}

.depoimento {
  font-size: 2.2rem;
}

.depoimento__citacao {
  position: relative;
  margin: 0;
  padding: 0 60px;
  text-align: center;
  font: 1em;

  
}

.depoimento__citacao::before {
  position: absolute;
  left: -20px;
  top: -90px;
  
  color: #adadad;

  content: "\201C";
  font-size: 8em;
} 

.depoimento__autor {
  margin-top: 40px;

  text-align: center;
  font-size: 0.8181em;
}


.depoimento__imagem {
  border-radius: 50%;
}

.diretos-ath {
  font-size: large;
}


/* --------------------------- *\
  NAVEGACAO
\* --------------------------- */

.navegacao {
  margin: 5px;
}

.navegacao__menu {
  float: right;
}


/* --------------------------- *\
  BOTAO-CHAVEADOR
\* --------------------------- */

.botao-chaveador {
  background-image: url("../assets/bars.png");
  border: 0;
  width: 25px;
  height: 25px;
  margin-top: 15px;
  
}


@media (min-width: 992px) {
  .botao-chaveador {
    display: none;
  }
}

/* --------------------------- *\
  MENU-ITEM
\* --------------------------- */

.menu {
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
  
}


@media (max-width: 991px) {
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  
    
    background-color: #fbfbfb;
    width: 200px;
    
    padding: 20px;
    border: 1px solid #eee;
    display: none;
  }

  .menu--ativo {
    display: block;
  }
  
  .menu__item {
    display: block;
    line-height: 3;
  }
  
  .menu__item--botao {
    margin-top: 20px;
  }

}

@media (min-width: 992px) {
  .menu__item {
    display: inline-block;
    padding-right: 20px;
  }
  .menu__item:last-of-type {
    padding-right: 0px;
  }
}