/* --------------------------- *\
PLANO
\* --------------------------- */

.plano {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 100px;
  font-size: 0.875rem;
}


.plano__cabecalho {
  background-color: #ff6e27;
  color: white;
  text-align: center;
  line-height: 2.5;
  margin: 0;
  margin: -10px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 2em;
}

.plano__preco {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}

.plano__caracteristicas {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 1em;
}

.plano__caracteristicas li {
  text-align: center;
}

/* --------------------------- *\
  BOTÃO
\* --------------------------- */

.plano--botao {
  display: inline-block;
  background-color: #127d00;

  color: white;
  padding: 12px 16px;
  transition: 0.3s;
  border-radius: 5px;
}

.plano--botao:hover {
  text-decoration: none;
  border-radius: 3px;
  transform: scale(1.1);
  background-color: #076461;
  color: white;
}

.plano__rodape {
  text-align: center;
}