

.layout-cabecalho {
  border-bottom: 1px solid #ccc;
  height: 60px;
}

.layout-cabecalho img {
  margin-top: 12px;
}


.layout-chamada {
  background-color: #7ab55c;
  padding: 80px 0;
}

.layout-depoimento {
  padding: 80px 0;
  background-color: #ccc;
}


