
.nome {
    color: #f00;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background-color: yellow;
    
}

.segmento {
    text-transform: lowercase;
    
}